
.app-layout {
  min-height: 100vh;
  background-color: #f9fafb; 
}


.content {
  margin-left: 220px; 
  width: calc(100% - 220px); 
  padding: 2rem;
  color: #020617;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: margin 0.3s ease, width 0.3s ease; /* Smooth resize */
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 1024px) {
  .content {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .app-layout {
  }

  .content {
    margin-left: 0 !important;
    width: 100% !important;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 480px) {
  .content {
padding-left: 0.8rem;
    padding-right: 0.8rem;
    gap: 1rem;
  }
}